body {
  margin: 0px;
}

.flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerSizing {
  height: 50vh;
  width: 100%;
}

#headerWrapper {
  flex-flow: row wrap;
  margin: 5% 10%;
  border: solid;
  height: auto;
  width: auto;
}

#month {
  border-right: solid;
  flex: 1.5 0 0;
}

#day {
  flex: 2 0 0;
}

#time {
  height: 10vh;
  width: 100%;
  border: solid;
}
