body {
  margin: 0px;
}

.flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerSizing {
  height: 30vh;
  width: 100%;
}

#headerWrapper {
  flex-flow: row wrap;
  margin: 1%;
  border: solid;
  height: auto;
  width: auto;
}

#title {
  width: 100%;
  border-bottom: solid;
  font-family: "Bebas Neue", cursive;
}

#month {
  flex: 1.5 0 0;
  opacity: 50%;
  border-right: solid;
  font-family: "Bebas Neue", cursive;
  font-size: 25vh;
}

#date {
  flex: 2 0 0;
  opacity: 70%;
  font-family: "Bebas Neue", cursive;
  font-size: 25vh;
}

#time {
  height: 10vh;
  width: 100%;
  border: solid;
  font-family: "Bebas Neue", cursive;
  font-size: x-large;
}

#contentWrapper {
  flex-flow: row wrap;
  margin: 3% 5%;
  border: solid;
}
